.empty-section {
    text-align: center;
    width: 100%;

    img {
        max-width: 200px;
        margin-bottom: 25px;
        opacity: 90%;
    }

    p {
        font-size: 18px;
        font-weight: 600;
    }
}