.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .btn-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 44px;
    }
}